
blockquote{
	line-height: 25px; 
	text-align: center;
	background-color: #ffffff    ;
	width:60%;
	height: 400px;
	padding:8px;
	margin:100px ;
	margin-left: 250px;
}

h3{
	background-color: #afe6ff ;
	text-align: center;/*Centrado del titulo*/
	color:  #ffffff  ;
	padding: 10px;
}

body{
	font-family: Verdana, Calibri, sans-serif; 
	background-color: #98daf3   ;
}
